:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #18191F;
  --light-accent: #70848C;
  --light-shade: #CCC9B7;
  --dark-accent: #497390;
  --dark-shade: #16181A;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
